* {
  user-select: none;
  font: 5vmin monospace;
}
#connectButton {
  display: block;
  margin-top: 10vh;
  text-align: center;
  margin: auto;
  width: 50vmin;
  font: 10vmin monospace;
}
#startupDiv {
  display: none;
  margin-top: 10vh;
  text-align: center;
  margin: auto;
  font: 10vmin monospace;
}